nav{
    width: 100vh;
    position: sticky;  
    display: flex; 
    justify-content:center;
    align-items: center;
  }
  nav a{
    font-family: 'Lato', sans-serif;
    font-weight:500;
    text-transform:uppercase;
    text-decoration:none;
    color:#1b1b1b;
    margin:0 15px;
    font-size:16px;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    cursor: pointer;
  }
  nav a:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background:#16151b;
    top:47%;
    animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  }
  nav a:hover:before{
    animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
  
  }
  
  .ShoppingCart{
    min-width: 30vh;
    display: flex;
    
    
  }
  .ShoppingCart i{
    color: #57729e;
    font-size: 25px;
    margin-left: auto;
  }
  .ShoppingCart i:hover{
    cursor: pointer;
  }
  @keyframes in{
    0%{
      width: 0;
      left:0;
      right:auto;
    }
    100%{
      left:0;
      right:auto;
      width: 100%;
    }
  }
  @keyframes out{
    0%{
      width:100%;
      left: auto;
      right: 0;
    }
    100%{
      width: 0;
      left: auto;
      right: 0;
    }
  }
  @keyframes show{
    0%{
      opacity:0;
      transform:translateY(-10px);
    }
    100%{
      opacity:1;
      transform:translateY(0);
    }
  }