@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Componentes CSS */
@import url('./components/css/NavBar.css');
@import url('./components/css/ProductCard.css');

body{
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #f0f4fb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  width: 100%;
}

.AppHeader {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  height: 150px;
}
/* .AppHeader h1{
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-start;
  margin-bottom: 1em;

} */




